*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/release
/captures
.externalNativeBuild
.cxx
/app/build/intermediates/merged_assets/debug/out/tipitaka_projector_data
/app/src/main/assets/tipitaka_projector_data/
